// Colors
$body-color: #212529;
$body-bg-color: #fff;
$primary-color: #81C14B;
$black: #1d1d1f;
$gray: #f9f9f9;
$danger: #e50914;
$blue: #06f;
$success: #198754;

// Fonts
$i: "Inter";
$m: "Montserrat";
$ss_p: "Source Sans Pro";
$default-font: $m, $ss_p, $i, sans-serif;

// Box Shadows
$border-color: 0 1px 0 0 rgb(0 0 0 / 10%);

// Width & Height
$container-w: 1320px;